@import './variables';

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: @bgColor;
    font-family: 'Roboto', sans-serif;
    font: 16px;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
